
SecSmTask1/Collections.Tests.UnitTests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
*.dll
*.pdb
*.cache
*.dll
*.cache
*.pdb
SecSmTask1/.vs/SecSmTask1/v16/Server/sqlite3/storage.ide-wal
SecSmTask1/.vs/SecSmTask1/v16/Server/sqlite3/storage.ide-shm
SecSmTask1/.vs/SecSmTask1/v16/Server/sqlite3/storage.ide
SecSmTask1/.vs/SecSmTask1/v16/.suo
*.dll
*.pdb
*.dll
*.cache
*.dll
CG_Task1/CG_Task1/obj/Debug/CG_Task1.exe
*.exe
*.resources
*.resources
*.cache
*.txt
*.exe
*.dll
SecSemTask2_WebServer/SecSemTask2_WebServer/bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
SecSemTask2_WebServer/SecSemTask2_WebServer/bin/Debug/Microsoft.Extensions.Configuration.Abstractions.xml
SecSemTask2_WebServer/SecSemTask2_WebServer/bin/Debug/Microsoft.Extensions.Configuration.Binder.xml
SecSemTask2_WebServer/.vs/SecSemTask2_WebServer/v16/.suo
SecSemTask2_WebServer/SecSemTask2_WebServer/bin/Debug/Microsoft.Extensions.Configuration.xml
SecSemTask2_WebServer/SecSemTask2_WebServer/bin/Debug/Microsoft.Extensions.DependencyInjection.xml
SecSemTask2_WebServer/SecSemTask2_WebServer/bin/Debug/Microsoft.Extensions.DependencyInjection.Abstractions.xml
SecSemTask2_WebServer/SecSemTask2_WebServer/bin/Debug/Microsoft.Extensions.Logging.Abstractions.xml
SecSemTask2_WebServer/SecSemTask2_WebServer/bin/Debug/Microsoft.Extensions.Logging.xml
SecSemTask2_WebServer/SecSemTask2_WebServer/bin/Debug/Microsoft.Extensions.Options.xml
SecSemTask2_WebServer/SecSemTask2_WebServer/bin/Debug/Microsoft.Extensions.Primitives.xml
SecSemTask2_WebServer/SecSemTask2_WebServer/bin/Debug/Newtonsoft.Json.xml
SecSemTask2_WebServer/SecSemTask2_WebServer/bin/Debug/NLog.xml
SecSemTask2_WebServer/SecSemTask2_WebServer/bin/Debug/SecSemTask2_WebServer.dll.config
SecSemTask2_WebServer/SecSemTask2_WebServer/bin/Debug/System.Buffers.xml
SecSemTask2_WebServer/SecSemTask2_WebServer/bin/Debug/System.Memory.xml
SecSemTask2_WebServer/SecSemTask2_WebServer/bin/Debug/System.Numerics.Vectors.xml
SecSemTask2_WebServer/SecSemTask2_WebServer/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
SecSemTask2_WebServer/SecSemTask2_WebServer/bin/Debug/System.Threading.Tasks.Extensions.xml
SecSemTask2_WebServer/SecSemTask2_WebServer/obj/Debug/SecSemTask2_WebServer.csproj.CopyComplete
SecSemTask2_WebServer/ServerMain/bin/Debug/NLog.xml
SecSemTask2_WebServer/ServerMain/bin/Debug/Newtonsoft.Json.xml
SecSemTask2_WebServer/ServerMain/bin/Debug/SecSemTask2_WebServer.dll.config
SecSemTask2_WebServer/ServerMain/bin/Debug/ServerMain.exe.config
SecSemTask2_WebServer/ServerMain/obj/Debug/ServerMain.csproj.CopyComplete
SecSemTask2_WebServer/Server.UnitTests/bin/Release/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
SecSemTask2_WebServer/Server.UnitTests/bin/Release/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
SecSemTask2_WebServer/Server.UnitTests/obj/Release/Server.UnitTests.csproj.CopyComplete
SecSemTask2_WebServer/.vs/SecSemTask2_WebServer/v16/.suo
*.xml
