
SecSmTask1/Collections.Tests.UnitTests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
*.dll
*.pdb
*.cache
*.dll
*.cache
*.pdb
SecSmTask1/.vs/SecSmTask1/v16/Server/sqlite3/storage.ide-wal
SecSmTask1/.vs/SecSmTask1/v16/Server/sqlite3/storage.ide-shm
SecSmTask1/.vs/SecSmTask1/v16/Server/sqlite3/storage.ide
SecSmTask1/.vs/SecSmTask1/v16/.suo
*.dll
*.pdb
*.dll
*.cache
*.dll
